.jumbotron {
	background-color: black;

}

.text{
	color:white;
	text-align: center;
}

.panel-body{

	color:white;
    background-color: black;
    border-style:solid;
    border-color:black;
    
}
.style{
	border:3px solid black;

}

.form-group{
	padding-left: 10px;
	padding-right:10px;
	float:center;
}
.btn-default{
	background-color: gray;
}